.root {
    justify-content: center;
    align-items: center;
}

.searchInput {
    margin-bottom: 30px;
}
.status {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading,
.error {
    font-size: 30px;
    color: gray;
}

.error {
    color: tomato;
}
